<div class="container">
    <div class="well">
        <h1>Welcome to Inspirational quotes</h1>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <div *ngFor='let quote of quotes; let i = index'>
                    <div class="container">
                        <h4 id="{{i}}" appHighlight>{{quote.description}} </h4>
                        <button class="ml-5 btn-secondary border border-secondary" (click)='toggleDetails(i)'> Quote
                            Details </button>
                    </div>
                    <div>
                        <div *ngIf="quote.showDescription">
                            <app-add-quote [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                            </app-add-quote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuotes)="addedQuote($event)"></app-quote-form>
        </div>
    </div>
    <hr>
    <footer>
        <p>@SITATI 2021 QUOTES</p>
    </footer>
</div>